.table
{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
tr,td,th 
{
    border: 1px solid black;
    margin: 2;
    padding:2; 
}

ul,li { list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; }

.inline {
    display: inline-block
}