<h1><a routerLink="/">dCider</a></h1>
<h3>Sober decision making</h3>
<div>
<table class='table' *ngIf="p">
  <thead>
    <tr >
      <th>Proposal</th> 
      <th>Summary</th>
      <th>options</th>
      <th>vote option</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="optionCount">{{ p.timestamp }}<br/> {{ p.title }}</td>
      <td rowspan="optionCount">{{ p.content }}</td>
      <td><ul><li *ngFor="let o of p.options">{{ o }}<hr></li></ul></td>
      <td><ul><li *ngFor="let o of p.options; let i = index">
        <button type="submit" (click)="vote(i)">vote</button><hr></li></ul>
      </td>
    </tr>
  </tbody>
</table>
</div>
<p>