<h1><a routerLink="/">dCider</a></h1>
<h3>Sober decision making</h3>
<div>
  Current Proposals:
<table class='table' *ngIf="proposals">
  <thead>
    <tr >
      <th>Date</th>
      <th>Title</th>
      <th>Details</th>
      <th>created by</th>
      <th>votes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of proposals">
      <td>{{ p.timestamp }}</td>
      <td>{{ p.title }}</td>
      <td><a routerLink="/details/{{ p.hash }}">details</a></td>
      <td>{{ p.createdby }}</td>
      <td>{{ p.votes }}</td>
    </tr>
  </tbody>
</table>
</div>
<p>
refresh proposals: <button type="submit" (click)="getAllProposals()">refresh</button><br>
Delegate my voting power: <button type="submit" (click)="delegate()">Delegate</button>
<select id="title" name="title">
  <option value="" selected>Roberto - QmRMU2EujWN7j4tYNSLVxtH3UfSFhTj4TtZuvTGQg1me4D</option>
  <option value="" selected>Thomas - Qm34MU2EujWN7j4tYNSLVxtH3UfSFhTj4TtZuvTGQg1me4D</option>
  <option value="" selected>Max - QmRMU2EujW2345rttYNSLVxtH3UfSFhTj4TtZuvTGQg1me4D</option>
  <option value="" selected>Fred - QmR6yhtredeft45rttYNSLVxtH3UfSFhTj4TtZuvTGQg1me4D</option>
</select>
</p>
<p>Create a Proposal:
<p>Title:<input type="text" [(ngModel)]="newproposal.title"><br>
Details: <textarea name="comment" [(ngModel)]="newproposal.content">Enter details here...</textarea><br>
option 1: <input type="text" [(ngModel)]="newproposal.options[0]"><br>
option 2: <input type="text" [(ngModel)]="newproposal.options[1]"><br>
option 3: <input type="text" [(ngModel)]="newproposal.options[2]"><br>
option 4: <input type="text" [(ngModel)]="newproposal.options[3]"><br>

<button type="submit" (click)="createProposal()">Create</button>
</p>
